*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root {
  --color-1: #E5E4CC;
  --color-2: #BAC7A7;
  --color-3: #889E81; 
  --color-4: #698474;
}

.container{
    display: flex;
    width: auto;
    height: 100vh;
    flex-direction: column;
    
}

.övreInfo{
    display: flex;
    width: 100%;
    height: 50%;
    padding: 30px 0;
    flex-direction: column;
    background-color: var(--color-1);
    align-items: center;
    border-bottom: 3px var(--color-4) dashed;
    font-weight: 550;
}
.övreInfo p, .övreInfo h1{
    color: rgb(55, 55, 55);
}
.övreInfo p{
    width: 50%;
    padding-top: 15px;
}

.undreInfo{
    display: flex;
    width: 100%;
    height: 50%;
    padding: 30px 0;
    flex-direction: column;
    background-color: var(--color-2);
    align-items: center;
    font-weight: 550;
}
.undreInfo p, .undreInfo h1{
    color: rgb(55, 55, 55);
}
.undreInfo p{
    width: 50%;
    padding-top: 15px;
}

.undreInfo h2{
    color: rgb(55, 55, 55);
    font-size: 15px;
}

@media (max-width: 1600px){
    .undreInfo{
        height: 100%;
    }
    .övreInfo{
        height: 100%;
    }
}

@media (max-width: 800px){
    .undreInfo{
        height: auto;
    }
    .övreInfo{
        height: auto;
    }
}

@media (max-width:1050px){
    .övreInfo p, .undreInfo p{
        width: 70%;
    }
}