*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root {
  --color-1: #E5E4CC;
  --color-2: #BAC7A7;
  --color-3: #889E81; 
  --color-4: #698474;
}

.container{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
}

.Info1{
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px 0px 40px 0px;
    flex-direction: column;
    background-color: var(--color-1);
    align-items: center;
    border-bottom: 3px var(--color-4) dashed;
    font-weight: 550;
}
.Info1 p, .Info1 h1{
    color: rgb(55, 55, 55);
}
.Info1 p{
    width: 50%;
    padding-top: 15px;
}

.Info2{
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px 0px 40px 0px;
    flex-direction: column;
    background-color: var(--color-2);
    align-items: center;
    border-bottom: 3px var(--color-4) dashed;
    font-weight: 550;
}
.Info2 p, .Info2 h1{
    color: rgb(55, 55, 55);
}
.Info2 p{
    width: 50%;
    padding-top: 15px;
}

.Info2 h2{
    color: rgb(55, 55, 55);
    font-size: 15px;
}

.Info3{
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px 0px 40px 0px;
    flex-direction: column;
    background-color: var(--color-1);
    align-items: center;
    font-weight: 550;
}
.Info3 p, .Info3 h1{
    color: rgb(55, 55, 55);
}
.Info3 p{
    width: 50%;
    padding-top: 15px;
}
