*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root {
  --color-1: #E5E4CC;
  --color-2: #BAC7A7;
  --color-3: #889E81; 
  --color-4: #698474;
}

.container{
    display: flex;
    width: auto;
    height: 100vh;
    flex-direction: column;
}

.logo{
    display: flex;
    width: 40%;
    height: 100%;
}

.huvud-bild{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(Images/StartBild.jpg);
}

#title{
    display: flex;
    align-items: end;
    padding: 13% 8%;
    font-size: 40px;
}
.info-ikoner{
    display: flex;
    width: 100%;
    height: 45vh;
    font-size: 14px;
    background-color: gainsboro;
    flex-direction: row;
}

.ikon1{
    display: flex;
    width: 33.3%;
    height: 100%;
    background-color: var(--color-2);
    border-right: black 2px solid;
    justify-content: center;
    align-items: flex-end;
}

.ikon2{
    display: flex;
    width: 33.3%;
    height: 100%;
    background-color: var(--color-2);
    justify-content: center;
    align-items: flex-end;
}

.ikon3{
    display: flex;
    width: 33.3%;
    height: 100%;
    background-color: var(--color-2);
    border-left: black 2px solid;
    justify-content: center;
    align-items: flex-end;
}

a{
    color: white;
    text-align: center;
    padding: 5px 0;
    font-weight: 550;
    font-size: 25px;
}

.container2{
    display: flex;
    width: auto;
    height: 110vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-1);
}

.facebook{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.facebookText{
    display: flex;
    width: 500px;
    flex-direction: column;
}

#FBtitle{
    display: flex;
    font-size: 45px;
    padding: 10px 0;
}

.nyheter{
    display: flex;
    width: 500px;
    height: 600px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--color-4);
    background-color: var(--color-3);
}